.container {
  
  max-height: 100%;
  justify-content: center;
  
}

.main {
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  
}

.backImg{
    background-image: url(/public/moses.jpg);
  
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: "cover"; */
    border-style:solid;
    border:5px 0px;
    border-radius: 8px;
}

.footer {
  background-image: url(../public/blackLine.jpeg) ;
  /* display: flex; */
  /* flex: 1; */
  margin-top: 2px;
  border-top: 1px solid #eaeaea;
  justify-content: right;
  align-items: right;
  background-size: cover;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color:rgb(228, 208, 157);
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(204, 198, 198, 0.5) ;
  text-transform: uppercase;
}

.title a:hover,
.title a:focus,
.title a:active {
  color: #ffffff;
}

.title {
  line-height: 1;
  font-size: 1rem;
}

.title,
.description {
  
  
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {

  grid-template-rows: 100%;
  grid-template-columns: 2fr 4 fr 1 fr;
  display: flex;
  align-items: center; 
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 100%;
}

.card {
  margin: 0 50px 0 50px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.cards {
  margin: 0 50px 0 50px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #eaeaea;
  font-family: 'Audiowide', sans-serif;
  
  /* border: 1px solid #f5f2f2;
  border-radius: 10px; */
  /* transition: color 0.15s ease, border-color 0.15s ease; */
  max-width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #d9e0e8;
  border-color: #d5dbe2;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.app{


min-width: 100%;
min-height: 100%;
}

.header{
  height: 20px;
  width: 200px; 
}

.contLine{
  width: auto;
  height: 150px;
  background-image: url(../public/blackLine.jpeg) ;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  

}
.footPhoto{

  width: 900px;
  height: 400px;
  margin: 20px;
  border-radius: 25px;


}
.headPhoto{
  width: 200px;
  height: 150px;
  flex-direction: row;
  
  
}



.gridZip{
  background-image: url(../public/blackLine.jpeg);
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  flex-wrap: nowrap;  
  max-width: 100%;
  padding: 5px 60px;
  
}

.headerul {
  display: flex;
  list-style: none;

} 

.li{
  margin-left: 60px;
}

.carouConfig{
  width: auto;
  margin: 0 auto;
  background-color: rgb(55, 53, 51);
  text-align: center;
  justify-content: center;
  color: inherit;
  background-image: url("../public/reviewCarousel.png");
  background-size: cover;
  
}

.carouConf{
  width: auto;
  margin: 0 auto;
  background-color: rgb(82, 49, 18);
  text-align: center;
  justify-content: center;
  color: inherit;
}

.hero{
  background-color: rgba(206, 180, 180, 0.5);
  width: 1000px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 5px, 0;
  margin: 300px auto 400px auto;
}

.main h1{
  font-family: 'Audiowide', sans-serif;
  font-size: 100px;
  text-shadow: 2px 4px 3px  rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  margin: 0px auto 100px auto;
  width: 1200px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  text-align: center;


}

.hero a {
  font-family: 'Audiowide', sans-serif;
  text-shadow: 2px 4px 3px rgb(167, 157, 157);
  color: rgb(255, 255, 255);
  margin: 0px auto;
}

.hero p {
  font-size: 40px;
  font-family: 'Audiowide', sans-serif;
  text-shadow: 2px 4px 3px rgb(167, 157, 157);
  color: rgb(255, 255, 255);
  margin: 0px auto 50px auto;
}
